.archive-posts {
    width: 100%;
    font-size: 16px;
}

.archive-year {
    margin-top: 40px;
}

.archive-month {
    padding: 10px 0;
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

.archive-entry {
    padding: 5px;
    margin: 10px 0;
}

.archive-entry-title {
    margin: 5px 0;
}

.archive-count,
.archive-meta {
    font-size: 14px;
}
