.archive-posts {
    width: 100%;
    font-size: 1rem;
}

.archive-year {
    margin-top: 2.5rem;
}

.archive-month {
    padding: .625rem 0;
}

.archive-month-header {
    margin: 1.5625rem 0;
    width: 12.5rem;
}

.archive-entry {
    padding: .3125rem;
    margin: .625rem 0;
}

.archive-entry-title {
    margin: .3125rem 0;
}

.archive-count,
.archive-meta {
    font-size: .875rem;
}
