.archive-posts {
    width: 100%;
    font-size: 1.333rem;
}

.archive-year {
    margin-top: 3.333rem;
}

.archive-month {
    padding: .8333rem 0;
}

.archive-month-header {
    margin: 2.0833rem 0;
    width: 16.667rem;
}

.archive-entry {
    padding: .4167rem;
    margin: .8333rem 0;
}

.archive-entry-title {
    margin: .4167rem 0;
}

.archive-count,
.archive-meta {
    font-size: 1.1667rem;
}
