.footer,
.top-link {
    font-size: .75rem;
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    line-height: 1.5rem;
}

.footer span {
    margin-inline-start: .0625rem;
    margin-inline-end: .0625rem;
}

.top-link {
    bottom: 3.75rem;
    right: 1.875rem;
    width: 2.625rem;
    height: 2.625rem;
    padding: .75rem;
    border-radius: 4rem;
}
