.nav {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.logo,
#menu {
    margin: auto var(--gap);
}

.logo a {
    font-size: 1.5rem;
}

.logo a img {
    transform: translate(0, -10%);
    border-radius: 0.375rem;
    margin-inline-end: .5rem;
}

#theme-toggle svg {
    height: 1.125rem;
}

button#theme-toggle {
    font-size: 1.625rem;
    margin: auto .25rem;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 1rem;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    margin: auto .25rem;
}

.lang-switch a {
    margin: auto .1825rem;
    font-size: 1rem;
}
