.main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 3.333rem;
}

.pagination a {
    font-size: 1.0833rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    padding: 0 1.333rem;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 1rem 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 1rem;
}

.social-icons a svg {
    height: 2.167rem;
    width: 2.167rem;
}

.copy-code {
    top: .3333rem;
    right: .3333rem;
    border-radius: var(--radius);
    padding: 0 .4167rem;
    font-size: 1.167rem;
}
