.main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 2.5rem;
}

.pagination a {
    font-size: .8125rem;
    line-height: 2.25rem;
    border-radius: 1.125rem;
    padding: 0 1rem;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: .75rem 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: .75rem;
}

.social-icons a svg {
    height: 1.625rem;
    width: 1.625rem;
}

.copy-code {
    top: .25rem;
    right: .25rem;
    border-radius: var(--radius);
    padding: 0 .3125rem;
    font-size: .875rem;
}
