.first-entry {
    min-height: 20rem;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 2.125;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: .875rem 0;
    font-size: 1rem;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: .875rem;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    margin-bottom: var(--gap);
    padding: var(--gap);
    border-radius: var(--radius);
}

.post-entry:active {
    transform: scale(0.96);
}

.entry-header h2 {
    font-size: 1.5rem;
}

.entry-content {
    margin: .5rem 0;
    font-size: .875rem;
    line-height: 1.6;
    -webkit-line-clamp: 2;
}

.entry-footer {
    font-size: .8125rem;
}

.entry-link {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: .875rem;
}

.entry-cover {
    margin-bottom: var(--gap);
}

.entry-cover img {
    border-radius: var(--radius);
    width: 100%;
}
