.page-header,
.post-header {
    margin: 24px auto var(--content-gap) auto;
}

.post-title {
    margin-bottom: 2px;
    font-size: 40px;
}

.post-description {
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-meta,
.breadcrumbs {
    font-size: 14px;
}

.post-meta .i18n_list li {
    margin: auto 3px;
}

.breadcrumbs a {
    font-size: 16px;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 24px 0 16px;
}

.post-content h1 {
    margin: 40px auto 32px;
    font-size: 40px;
}

.post-content h2 {
    margin: 32px auto 24px;
    font-size: 32px;
}

.post-content h3 {
    font-size: 24px;
}

.post-content h4 {
    font-size: 16px;
}

.post-content h5 {
    font-size: 14px;
}

.post-content h6 {
    font-size: 12px;
}

.post-content a code {
    margin: auto 0;
    border-radius: 0;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
    margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
    padding-inline-start: 20px;
}

.post-content li {
    margin-top: 5px;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    margin: 0;
}

.post-content dt {
    width: 25%;
}

.post-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 10px;
}

.post-content dd ~ dd,
.post-content dt ~ dt {
    margin-top: 10px;
}

.post-content table {
    margin-bottom: 32px;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 80px;
    padding: 12px 8px;
    line-height: 1.5;
}

.post-content table th {
    font-size: 14px;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.post-content .highlight table {
    border-radius: var(--radius);
}

.post-content .highlight:not(table),
.post-content pre {
    margin: 10px auto;
    border-radius: var(--radius);
}

.post-content li > .highlight {
    margin-inline-end: 0;
}

.post-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin: 0;
}

.post-content .highlighttable td:first-child {
    width: 40px;
}

.post-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}

.post-content code {
    margin: auto 4px;
    padding: 4px 6px;
    font-size: 0.78em;
    line-height: 1.5;
    border-radius: 2px;
}

.post-content pre code {
    margin: auto 0;
    padding: 10px;
    border-radius: 0;
}

.post-content blockquote {
    margin: 20px 0;
    padding: 0 14px;
}

.post-content hr {
    margin: 30px 0;
    height: 2px;
    border-top: 0;
    border-bottom: 0;
}

.post-content iframe {
    max-width: 100%;
}

.post-content img {
    border-radius: 4px;
    margin: 1rem 0;
}

.post-content img[src*="#center"] {
    margin: 1rem auto;
}

.post-content figure > figcaption {
    font-size: 16px;
    margin: 8px 0 16px;
}

.post-content figure > figcaption > p {
    font-size: 14px;
}

.toc {
    margin: 0 2px 40px 2px;
    border-radius: var(--radius);
    padding: 0.4em;
}

.toc details summary {
    margin-inline-start: 20px;
}

.toc .inner {
    margin: 0 20px;
    padding: 10px 20px;
}

.toc li ul {
    margin-inline-start: var(--gap);
}

.post-footer {
    margin-top: 56px;
}

.post-tags li {
    margin-inline-end: 3px;
    margin-bottom: 5px;
}

.post-tags a,
.share-buttons,
.paginav {
    border-radius: var(--radius);
}

.post-tags a {
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    font-size: 14px;
    line-height: 34px;
}

.share-buttons {
    margin: 14px 0;
    padding-inline-start: var(--radius);
}

.share-buttons a {
    margin-top: 10px;
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.share-buttons a svg {
    height: 30px;
    width: 30px;
}

.share-buttons svg:active {
    transform: scale(0.96);
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    margin-inline-start: 8px;
}

.paginav {
    margin: 10px 0;
    line-height: 30px;
    border-radius: var(--radius);
}

.paginav a {
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    border-radius: var(--radius);
}

.paginav .title {
    letter-spacing: 1px;
    font-size: small;
}

.paginav .prev,
.paginav .next {
    width: 50%;
}

.paginav .next {
    margin-inline-start: auto;
}
