.page-header,
.post-header {
    margin: 2rem auto var(--content-gap) auto;
}

.post-title {
    margin-bottom: .1667rem;
    font-size: 3.333rem;
}

.post-description {
    margin-top: .8333rem;
    margin-bottom: 2.5rem;
}

.post-meta,
.breadcrumbs {
    font-size: 1.167rem;
}

.post-meta .i18n_list li {
    margin: auto .25rem;
}

.breadcrumbs a {
    font-size: 1.333rem;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 2rem 0 1.333rem;
}

.post-content h1 {
    margin: 3.333rem auto 2.667rem;
    font-size: 3.333rem;
}

.post-content h2 {
    margin: 2.667rem auto 2rem;
    font-size: 2.667rem;
}

.post-content h3 {
    font-size: 2rem;
}

.post-content h4 {
    font-size: 1.333rem;
}

.post-content h5 {
    font-size: 1.167rem;
}

.post-content h6 {
    font-size: 1rem;
}

.post-content a code {
    margin: auto 0;
    border-radius: 0;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
    margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
    padding-inline-start: 1.25rem;
}

.post-content li {
    margin-top: 1.667rem;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    margin: 0;
}

.post-content dt {
    width: 25%;
}

.post-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: .625rem;
}

.post-content dd ~ dd,
.post-content dt ~ dt {
    margin-top: .8333rem;
}

.post-content table {
    margin-bottom: 2.667rem;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 6.667rem;
    padding: 1rem .667rem;
    line-height: 1.5;
}

.post-content table th {
    font-size: 1.167rem;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.post-content .highlight table {
    border-radius: var(--radius);
}

.post-content .highlight:not(table),
.post-content pre {
    margin: .8333rem auto;
    border-radius: var(--radius);
}

.post-content li > .highlight {
    margin-inline-end: 0;
}

.post-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin: 0;
}

.post-content .highlighttable td:first-child {
    width: 2.5rem;
}

.post-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}

.post-content code {
    margin: auto .333rem;
    padding: .333rem .5rem;
    font-size: 0.78em;
    line-height: 1.5;
    border-radius: .1667rem;
}

.post-content pre code {
    margin: auto 0;
    padding: .8333rem;
    border-radius: 0;
}

.post-content blockquote {
    margin: 1.667rem 0;
    padding: 0 1.167rem;
}

.post-content hr {
    margin: 2.5rem 0;
    height: .1667rem;
    border-top: 0;
    border-bottom: 0;
}

.post-content iframe {
    max-width: 100%;
}

.post-content img {
    border-radius: .3333rem;
    margin: 1.333rem 0;
}

.post-content img[src*="#center"] {
    margin: 1.333rem auto;
}

.post-content figure > figcaption {
    font-size: 1.333rem;
    margin: .667rem 0 1.333rem;
}

.post-content figure > figcaption > p {
    font-size: 1.167rem;
}

.toc {
    margin: 0 .1667rem 3.333rem .1667rem;
    border-radius: var(--radius);
    padding: 0.4em;
}

.toc details summary {
    margin-inline-start: 1.667rem;
}

.toc .inner {
    margin: 0 1.668rem;
    padding: .8333rem 1.667rem;
}

.toc li ul {
    margin-inline-start: var(--gap);
}

.post-footer {
    margin-top: 4.667rem;
}

.post-tags li {
    margin-inline-end: .25rem;
    margin-bottom: .4167rem;
}

.post-tags a,
.share-buttons,
.paginav {
    border-radius: var(--radius);
}

.post-tags a {
    padding-inline-start: 1.167rem;
    padding-inline-end: 1.167rem;
    font-size: 1.167rem;
    line-height: 2.833rem;
}

.share-buttons {
    margin: 1.167rem 0;
    padding-inline-start: var(--radius);
}

.share-buttons a {
    margin-top: .8333rem;
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 1rem;
}

.share-buttons a svg {
    height: 2.5rem;
    width: 2.5rem;
}

.share-buttons svg:active {
    transform: scale(0.96);
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    margin-inline-start: .667rem;
}

.paginav {
    margin: .8333rem 0;
    line-height: 2.5rem;
    border-radius: var(--radius);
}

.paginav a {
    padding-inline-start: 1.167rem;
    padding-inline-end: 1.167rem;
    border-radius: var(--radius);
}

.paginav .title {
    letter-spacing: .0833rem;
    font-size: small;
}

.paginav .prev,
.paginav .next {
    width: 50%;
}

.paginav .next {
    margin-inline-start: auto;
}
