.page-header,
.post-header {
    margin: 1.5rem auto var(--content-gap) auto;
}

.post-title {
    margin-bottom: .125rem;
    font-size: 2.5rem;
}

.post-description {
    margin-top: .625rem;
    margin-bottom: .3125rem;
}

.post-meta,
.breadcrumbs {
    font-size: .875rem;
}

.post-meta .i18n_list li {
    margin: auto .1875rem;
}

.breadcrumbs a {
    font-size: 1rem;
}

.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 1.5rem 0 1rem;
}

.post-content h1 {
    margin: 2.5rem auto 2rem;
    font-size: 2.5rem;
}

.post-content h2 {
    margin: 2rem auto 1.5rem;
    font-size: 2rem;
}

.post-content h3 {
    font-size: 1.5rem;
}

.post-content h4 {
    font-size: 1rem;
}

.post-content h5 {
    font-size: .875rem;
}

.post-content h6 {
    font-size: .75rem;
}

.post-content a code {
    margin: auto 0;
    border-radius: 0;
}

.post-content dl,
.post-content ol,
.post-content p,
.post-content figure,
.post-content ul {
    margin-bottom: var(--content-gap);
}

.post-content ol,
.post-content ul {
    padding-inline-start: 1.25rem;
}

.post-content li {
    margin-top: .3125rem;
}

.post-content li p {
    margin-bottom: 0;
}

.post-content dl {
    margin: 0;
}

.post-content dt {
    width: 25%;
}

.post-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: .625rem;
}

.post-content dd ~ dd,
.post-content dt ~ dt {
    margin-top: .625rem;
}

.post-content table {
    margin-bottom: 2rem;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 5rem;
    padding: .75rem .5rem;
    line-height: 1.5;
}

.post-content table th {
    font-size: .875rem;
}

.post-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.post-content .highlight table {
    border-radius: var(--radius);
}

.post-content .highlight:not(table),
.post-content pre {
    margin: .625rem auto;
    border-radius: var(--radius);
}

.post-content li > .highlight {
    margin-inline-end: 0;
}

.post-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.post-content .highlight pre {
    margin: 0;
}

.post-content .highlighttable td:first-child {
    width: 2.5rem;
}

.post-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.post-content .highlighttable td .highlight,
.post-content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}

.post-content code {
    margin: auto .25rem;
    padding: .25rem .375rem;
    font-size: 0.78em;
    line-height: 1.5;
    border-radius: .125rem;
}

.post-content pre code {
    margin: auto 0;
    padding: .625rem;
    border-radius: 0;
}

.post-content blockquote {
    margin: 1.25rem 0;
    padding: 0 .875rem;
}

.post-content hr {
    margin: 1.875rem 0;
    height: .125rem;
    border-top: 0;
    border-bottom: 0;
}

.post-content iframe {
    max-width: 100%;
}

.post-content img {
    border-radius: .25rem;
    margin: 1rem 0;
}

.post-content img[src*="#center"] {
    margin: 1rem auto;
}

.post-content figure > figcaption {
    font-size: 1rem;
    margin: .5rem 0 1rem;
}

.post-content figure > figcaption > p {
    font-size: .875rem;
}

.toc {
    margin: 0 .125rem 2.5rem .125rem;
    border-radius: var(--radius);
    padding: 0.4em;
}

.toc details summary {
    margin-inline-start: 1.25rem;
}

.toc .inner {
    margin: 0 1.25rem;
    padding: .625rem 1.25rem;
}

.toc li ul {
    margin-inline-start: var(--gap);
}

.post-footer {
    margin-top: 3.5rem;
}

.post-tags li {
    margin-inline-end: .1875rem;
    margin-bottom: .3125rem;
}

.post-tags a,
.share-buttons,
.paginav {
    border-radius: var(--radius);
}

.post-tags a {
    padding-inline-start: .875rem;
    padding-inline-end: .875rem;
    font-size: .875rem;
    line-height: 2.125rem;
}

.share-buttons {
    margin: .875rem 0;
    padding-inline-start: var(--radius);
}

.share-buttons a {
    margin-top: .625rem;
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: .75rem;
}

.share-buttons a svg {
    height: 1.875rem;
    width: 1.875rem;
}

.share-buttons svg:active {
    transform: scale(0.96);
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    margin-inline-start: .5rem;
}

.paginav {
    margin: .625rem 0;
    line-height: 1.875rem;
    border-radius: var(--radius);
}

.paginav a {
    padding-inline-start: .875rem;
    padding-inline-end: .875rem;
    border-radius: var(--radius);
}

.paginav .title {
    letter-spacing: .0625rem;
    font-size: small;
}

.paginav .prev,
.paginav .next {
    width: 50%;
}

.paginav .next {
    margin-inline-start: auto;
}
