.main .profile {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
}

.profile .profile_inner h1 {
    padding: 1rem 0;
}

.profile img {
    border-radius: 50%;
}

.buttons {
    max-width: 33.333rem;
    margin: 0 auto;
}

.button {
    border-radius: var(--radius);
    margin: .667rem;
    padding: .5rem;
}

.button-inner {
    padding: 0 .667rem;
}

.button:active {
    transform: scale(0.96);
}
