#searchbox input {
    padding: .3333rem .8333rem;
    width: 100%;
    border-radius: var(--radius);
}

#searchResults li {
    border-radius: var(--radius);
    padding: .8333rem;
    margin: .8333rem 0;
}

#searchResults {
    margin: .8333 0;
    width: 100%;
}

#searchResults li:active {
    transform: scale(0.98);
}

#searchResults a {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#searchResults .focus {
    transform: scale(0.98);
}
