  {{- $s := T "share_on" }}
  <div class="post_share">
    {{ $s }}:
    <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&tw_p=tweetbutton" class="twitter" title="{{ $s }} Twitter" target="_blank" rel="nofollow">
      {{ partial "sprite" (dict "icon" "twitter") }}
    </a>
    <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" class="facebook" title="{{ $s }} Facebook" target="_blank" rel="nofollow">
      {{ partial "sprite" (dict "icon" "facebook") }}
    </a>
    <a href="#linkedinshare" id = "linkedinshare" class="linkedin" title="{{ $s }} LinkedIn" rel="nofollow">
      {{ partial "sprite" (dict "icon" "linkedin") }}
    </a>
    <a href="{{ .Permalink }}" title="Copy Link" class="link link_yank">
      {{ partial "sprite" (dict "icon" "copy") }}
    </a>
  </div>
  