:root {
    --min-font-size: 16px;
    --gap: 1.5rem;
    --content-gap: 1.25rem;
    --nav-width: 64rem;
    --main-width: 48rem;
    --header-height: 3.75rem;
    --footer-height: 3.75rem;
    --radius: .5rem;
}
