:root {
    --min-font-size: 12px;
    --gap: 2rem;
    --content-gap: 1.667rem;
    --nav-width: 85.333rem;
    --main-width: 60rem;
    --header-height: 5rem;
    --footer-height: 5rem;
    --radius: .667rem;
}
