{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

{{- if .Content }}
<div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- if .Param "reward" }}
{{- partial "reward.html" . }}
{{- end }}

{{- if (.Param "comments") }}
{{- partial "comments.html" . }}
{{- end }}

{{- end }}{{/* end main */ -}}