{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
</header>

{{- $class := "post-entry" }}

{{ $latestNum := .Param "latestNumber" | default 10 }}

{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $pages = $pages.ByDate.Reverse }}

{{ range first $latestNum $pages}}
{{- $class = "post-entry tag-entry" }}

<article class="{{ $class }}">
    <header class="entry-header">
        <h2 class="entry-hint-parent">
            {{- .Title }}
            {{- if (.Param "reposted") }}<span class="x-entry-reposted">&nbsp;&nbsp;[转载]</span>{{- end }}
            {{- if .Draft }}
            <span class="entry-hint">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" fill="currentColor">
          <path
                  d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
            {{- end }}
        </h2>
    </header>
    <div class="entry-content">
    </div>
    <footer class="entry-footer">
        {{- partial "post_meta.html" . -}}
    </footer>
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- end }}{{- /* end main */ -}}
