{{ partial "header.html" . }}

{{ if not .IsHome }}
<header class="page-header">
  {{ if eq .Data.Singular "tag" }}
  <div class="tagged">Tagged in</div>
  <h1>{{ .Data.Term }}</h1>
  {{ else }}
  <h1>Posts</h1>
  {{ end }}
</header>
{{ end }}

{{ $paginator := .Paginate (where .Pages ".Params.type" "!=" "page") }}

{{ if gt $paginator.TotalPages 0 }}
{{ range $index, $page := $paginator.Pages }}
<article class="post-entry">
  <header class="entry-header">
    <h2>{{ .Title }}</h2>
  </header>
  <section class="entry-content">
   <p>{{ .Summary | plainify | htmlUnescape }}...</p>
  </section>
  <footer class="entry-footer">
    <time >{{ .Date.Format "2006.1.2" }}</time>
  </footer>
  <a class="entry-link" href="{{ .Permalink }}"></a>
</article>
{{ end }}
{{ end }}

{{ if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{ if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prevPage" }}</a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "nextPage" }} →</a>
    {{ end }}
  </nav>
</footer>
{{ end }}

{{ partial "footer.html" . }}
