/* Footer
-------------------------------------------------- */
.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - (var(--gap)) - 10px) / 2) var(--gap);
    color: var(--secondary);
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer a {
    color: inherit;
    border-bottom: 1px solid var(--secondary);
}

.footer a:hover {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.top-link {
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    background: var(--tertiary);
    width: 42px;
    height: 42px;
    padding: 12px;
    color: var(--secondary);
    border-radius: 64px;
    fill: currentColor;
    fill-opacity: 80%;
    transition: visibility 0.5s,
        opacity 0.8s linear;
}

.top-link:hover {
    color: var(--primary);
}

.top-link:focus {
    outline: none;
}
