/* Header
-------------------------------------------------- */
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
.menu {
    display: flex;
    margin: auto var(--gap);
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

.theme-toggle svg {
    height: 18px;
    margin: 0 10px;
    user-select: none;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

.menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

.menu li+li {
    margin-inline-start: var(--gap);
}

.menu a {
    font-size: 16px;
}

.menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch {
    margin-inline-start: var(--gap);
}

.lang-switch li,
.lang-switch li+li {
    margin-inline-start: 8px;
    display: inline-flex;
}

.lang-switch svg {
    margin: 0 2px;
    height: 15px;
    user-select: none;
    cursor: not-allowed;
}
