.main {
    text-align: center;
    display: table;
}

.main>.profile {
    display: table-cell;
    vertical-align: middle;
}

.main>.profile>.profile_inner {
    transform: translate(0, -10%);
}

.profile_inner h1 {
    padding: 12px 0;
}

.profile_inner span {
    padding: 10px 0;
    font-size: 18px;
}

img {
    display: inline-table;
    width: 180px;
    border-radius: 50%;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    img {
        width: 150px;
    }
    .main>.profile>.profile_inner {
        transform: translate(0, 0);
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active {
    transform: scale(0.96);
}