.main {
    text-align: center;
    display: table;
}

.main>.profile {
    display: table-cell;
    vertical-align: middle;

}

.main>.profile>.profile_inner {
    transform: translate(0, -10%);
}

.profile_inner h1 {
    padding: 8px;
}

img {
    display: inline-block;
    width: 200px;
    border-radius: 50%;
    pointer-events: none;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    img {
        width: 150px;
    }

}

.social-icons {
    padding: 16px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: center;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform 0.1s;
}

.button-inner {
    padding: 0 8px;
}

.button:active, .social-icons>a>svg:active{
    transform: scale(0.96);
}