.main {
    text-align: center;
    display: table;
}

.main>.profile {
    display: table-cell;
    vertical-align: middle;

}

.main>.profile>.profile_inner {
    transform: translate(0, -10%);
}

.profile_inner h1 {
    padding: 8px;
}

img {
    display: inline-block;
    width: 200px;
    border-radius: 50%;
    pointer-events: none;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    img {
        width: 150px;
    }

}

.social-icons {
    padding: 16px;
}

.buttons {
    max-width: 300px;
    line-height: 2.8;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 8px;
}

.button-inner {
    padding: 10px;
}