.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 600;
}

.terms-tags a {
    display: block;
    padding: 5px 14px;
    color: var(--primary);
    background: var(--border);
    border-radius: var(--radius);
    transition: transform 0.1s;
}

.terms-tags a:hover {
    background: var(--tertiary);
    transform: scale(0.96);
}