.chroma {
    background-color: unset !important;
}

.chroma .hl {
    display: flex;
}

.chroma .lnt {
    padding-inline-start: 12px;
}

table pre.chroma code {
    padding: 10px 0;
}

.chroma .lntd:last-of-type {
    width: 100%;
}
