.share-buttons {
    margin: 14px 0;
    padding-inline-start: var(--radius);
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.share-buttons a {
    margin-top: 10px;
}

.share-buttons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.share-buttons a svg {
    height: 30px;
    width: 30px;
    fill: currentColor;
    transition: transform 0.1s;
}

.share-buttons svg:active {
    transform: scale(0.96);
}
