<!-- ad-in-feed -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-format="fluid"
    data-ad-layout-key="-gw-3+1f-3d+2z"
    data-ad-client="{{- .Site.Params.adsense.clientID -}}"
    data-ad-slot="{{- .Site.Params.adsense.slotInFeed -}}"></ins>
<!-- <ins class="adsbygoogle imgtheme-dark"
    style="display:block"
    data-ad-format="fluid"
    data-ad-layout-key="-gw-3+1f-3d+2z"
    data-ad-client="{{- .Site.Params.adsense.clientID -}}"
    data-ad-slot="{{- .Site.Params.adsense.slotInFeedDark -}}"></ins> -->
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>