{{- if (.Param "ShowBreadCrumbs")}}
<div class="breadcrumbs">
    {{- $url := replace .Parent.Permalink ( printf "%s" .Site.BaseURL) "" }}
    {{- $lang_url := replace $url ( printf "%s" .Lang) "" }}

    <a href="{{ "" | absLangURL }}">{{ i18n "home" | default "Home"}}</a>
    {{- range $index, $element := split $lang_url "/" }}

    {{- $.Scratch.Add "path" (printf "%s/" $element )}}
    {{- $bc_pg := $.Site.GetPage ($.Scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- print "&nbsp;»&nbsp;" | safeHTML -}}<a href="{{ $bc_pg.Permalink }}">{{ $bc_pg.Name }}</a>
    {{- end }}

    {{- end }}
</div>
{{- end }}
