{{- $IsHome := .IsHome }}

{{- with .cxt}} {{/* Apply proper context from dict */}}
{{- if .Params.cover.image }}

{{- $sizes := (slice "360" "480" "720" "1080" "1500") }}

{{- $src := cond (default true .Site.Params.responsiveImages) (.Page.Resources.GetMatch (printf "*%s*" (.Params.cover.image))) false }}
{{- $fallback := cond (default false .Params.cover.relative) (path.Join .RelPermalink .Params.cover.image) (.Params.cover.image) -}}

{{- $addLink := and (not $IsHome) (default true .Site.Params.linkFullImages) -}}
{{- $responsiveImg := and $src (default false .Params.cover.relative) -}}

<figure class="entry-cover">  
{{- if $responsiveImg -}}
    {{- if $addLink }}<a href="{{ $src.RelPermalink | absURL }}" target="_blank" title="{{- i18n "full_image" | default "Original image" }}">{{ end }}
    <img sizes="(min-width: 768px) 720px, 100vw"
    srcset='{{- range $sizes -}}
        {{ if ge $src.Width . }}{{ ($src.Resize (printf "%sx" .)).RelPermalink | absURL }} {{ (printf "%sw" .) }},{{ end }}
    {{- end -}} {{$src.RelPermalink | absURL }} {{printf "%dw" ($src.Width)}}'
    {{- if ge $src.Width "720" }}src="{{ ($src.Resize "720x").RelPermalink | absURL }}"
    {{- else }}src="{{ $src.RelPermalink | absURL }}" {{ end }}{{ with .Params.cover.alt }} alt="{{ . | plainify }}"{{ end }}>
    
{{- else }}{{/* Fall back to full image */}}
    {{- if $addLink }}<a href="{{ $fallback | absURL }}" target="_blank" title="{{- i18n "full_image" | default "Original image" }}">{{ end }}
    <img src="{{ $fallback | absURL }}" {{ with .Params.cover.alt }} alt="{{ . | plainify }}"{{ end }}>
{{- end }}

{{- if not $IsHome -}} {{- if $addLink }}</a>{{ end -}}
  <p>{{.Params.cover.caption | markdownify }}</p>
{{- end }}
</figure>

{{- end }}{{/* End image */}}
{{- end -}}{{/* End context */}}
