<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl}}<img src="{{ .imageUrl}}" alt="{{ .imageTitle | default "profile image" }}" />{{- end}}
        <h1>{{ .title | default $.Site.Title }}</h1>
        {{- with $.Site.Params.socialIcons }}
        <div class="social-icons">
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
        {{- with .buttons }}
        <div class="buttons">
            {{- partial "indexProfileButtons.html" . }}
        </div>
        {{- end }}
    </div>
    {{- end}}
</div>