<link rel="stylesheet" href="https://cdn.staticfile.net/KaTeX/0.16.9/katex.min.css">
<script defer src="https://cdn.staticfile.net/KaTeX/0.16.9/katex.min.js"></script>
<script defer src="https://cdn.staticfile.net/KaTeX/0.16.9/contrib/auto-render.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},     // block
                {left: '\\$', right: '\\$', display: false},  // inline
            ],
            throwOnError : false
        });
    });
</script>