<div class="social-icons">
    {{- range . }}
        {{ if eq (substr (trim .url " ") 0 4) "tel:"}}
            <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me" title="{{ .name | title }}">
                {{ partial "svg.html" . }}
            </a>
        {{ else }}
            <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me" title="{{ .name | title }}">
                {{ partial "svg.html" . }}
            </a>
        {{ end }}
    {{- end }}
</div>
