{{- $bareul := slice -}}
{{- $headers := findRE "<h[2-6].*?>(.|\n])+?</h[2-6]>" (partial "helpers/basic-content" .) -}}
{{- $has_headers := ge (len $headers) 1 -}}
{{- if $has_headers -}}
<div class="toc">
    <details {{if (.Param "TocOpen") }} open{{ end }}>
        <summary accesskey="c" title="(Alt + C)">
            <span class="details">{{- i18n "toc" | default "Table of Contents" }}</span>
        </summary>

        <div class="inner">
            {{ .TableOfContents }}
        </div>
    </details>
</div>
{{- end }}
