{{/* New to Fathom analytics? Use my affiliate link to get a 10 dollar discount: https://usefathom.com/ref/FPKJIU */}}

{{- if .Site.Params.fathom.siteId }}
<script 
data-site="{{ .Site.Params.fathom.siteId }}"
src="{{ .Site.Params.fathom.customDomain | default "https://cdn.usefathom.com/script.js" }}" 
{{- if .Site.Params.fathom.honorDnt }}
data-honor-dnt="{{ .Site.Params.fathom.honorDnt }}"
{{- end}}
{{- if .Site.Params.fathom.canonical }}
data-canonical="{{ .Site.Params.fathom.canonical }}"
{{- end}}
{{- if .Site.Params.fathom.excludedDomains }}
data-excluded-domains="{{ .Site.Params.fathom.excludedDomains }}"
{{- end}}
{{- if .Site.Params.fathom.includedDomains }}
data-included-domains="{{ .Site.Params.fathom.includedDomains }}"
{{- end}}
defer
></script>
{{- end -}}