{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{- ( .Site.Params.schema.publisherType | default "Organization") | humanize -}}",
  "name": {{ .Site.Params.title }},
  "url": {{ .Site.BaseURL }},
  "sameAs": [
    {{- if .Site.Params.schema.sameAs }}
      {{ range $i, $e := .Site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
    {{- else}}
      {{ range $i, $e := .Site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ $e.url }}{{ end }}
    {{- end}}
  ]
}
</script>
{{- else }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  "image": {{ .Params.featuredImage | absURL }},
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "{{- ( .Site.Params.schema.publisherType | default "Organization") | humanize -}}",
    "name": {{ .Site.Params.title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.assets.favicon | default "favicon.ico" | absURL }}
    }
  },
  "description": {{ .Summary | plainify | safeHTML }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
</script>
{{ end }}
