.admonition {
    position: relative;
    margin: 1rem 0;
    padding: 0 1.2rem;
    background-color: rgba(68, 138, 255, 0.1);
    border-radius: var(--radius);
    overflow: auto;
}

.admonition .admonition-title {
    font-weight: bold;
    margin: 0 -1.2rem;
    padding: 0.4rem 2.8rem;
    border-bottom: .1rem solid rgba(68, 138, 255, 0.1);
    background-color: rgba(68, 138, 255, 0.25);
}

.admonition.open .admonition-title {
    background-color: rgba(68, 138, 255, 0.1);
}

.admonition .admonition-content {
    padding: 0.8rem 0;
    font-size: 1.6rem;
}

.admonition i.icon {
    font-size: 1.36rem;
    color: #448aff;
    position: absolute;
    top: 0.96rem;
    left: 0.64rem;
}

.admonition i.details-icon {
    position: absolute;
    top: 0.96rem;
    right: 0.48rem;
}

.admonition.note {
    border-left-color: #448aff;
}

.admonition.note i.icon {
    color: #448aff;
}

.admonition.abstract {
    border-left-color: #00b0ff;
}

.admonition.abstract i.icon {
    color: #00b0ff;
}

.admonition.info {
    border-left-color: #00b8d4;
}

.admonition.info i.icon {
    color: #00b8d4;
}

.admonition.tip {
    border-left-color: #00bfa5;
}

.admonition.tip i.icon {
    color: #00bfa5;
}

.admonition.success {
    border-left-color: #00c853;
}

.admonition.success i.icon {
    color: #00c853;
}

.admonition.question {
    border-left-color: #64dd17;
}

.admonition.question i.icon {
    color: #64dd17;
}

.admonition.warning {
    border-left-color: #ff9100;
}

.admonition.warning i.icon {
    color: #ff9100;
}

.admonition.failure {
    border-left-color: #ff5252;
}

.admonition.failure i.icon {
    color: #ff5252;
}

.admonition.danger {
    border-left-color: #ff1744;
}

.admonition.danger i.icon {
    color: #ff1744;
}

.admonition.bug {
    border-left-color: #f50057;
}

.admonition.bug i.icon {
    color: #f50057;
}

.admonition.example {
    border-left-color: #651fff;
}

.admonition.example i.icon {
    color: #651fff;
}

.admonition.quote {
    border-left-color: #9e9e9e;
}

.admonition.quote i.icon {
    color: #9e9e9e;
}

.admonition.note {
    background-color: rgba(68, 138, 255, 0.1);
}

.admonition.note .admonition-title {
    border-bottom-color: rgba(68, 138, 255, 0.1);
    background-color: rgba(68, 138, 255, 0.25);
}

.admonition.note.open .admonition-title {
    background-color: rgba(68, 138, 255, 0.1);
}

.admonition.abstract {
    background-color: rgba(0, 176, 255, 0.1);
}

.admonition.abstract .admonition-title {
    border-bottom-color: rgba(0, 176, 255, 0.1);
    background-color: rgba(0, 176, 255, 0.25);
}

.admonition.abstract.open .admonition-title {
    background-color: rgba(0, 176, 255, 0.1);
}

.admonition.info {
    background-color: rgba(0, 184, 212, 0.1);
}

.admonition.info .admonition-title {
    border-bottom-color: rgba(0, 184, 212, 0.1);
    background-color: rgba(0, 184, 212, 0.25);
}

.admonition.info.open .admonition-title {
    background-color: rgba(0, 184, 212, 0.1);
}

.admonition.tip {
    background-color: rgba(0, 191, 165, 0.1);
}

.admonition.tip .admonition-title {
    border-bottom-color: rgba(0, 191, 165, 0.1);
    background-color: rgba(0, 191, 165, 0.25);
}

.admonition.tip.open .admonition-title {
    background-color: rgba(0, 191, 165, 0.1);
}

.admonition.success {
    background-color: rgba(0, 200, 83, 0.1);
}

.admonition.success .admonition-title {
    border-bottom-color: rgba(0, 200, 83, 0.1);
    background-color: rgba(0, 200, 83, 0.25);
}

.admonition.success.open .admonition-title {
    background-color: rgba(0, 200, 83, 0.1);
}

.admonition.question {
    background-color: rgba(100, 221, 23, 0.1);
}

.admonition.question .admonition-title {
    border-bottom-color: rgba(100, 221, 23, 0.1);
    background-color: rgba(100, 221, 23, 0.25);
}

.admonition.question.open .admonition-title {
    background-color: rgba(100, 221, 23, 0.1);
}

.admonition.warning {
    background-color: rgba(255, 145, 0, 0.1);
}

.admonition.warning .admonition-title {
    border-bottom-color: rgba(255, 145, 0, 0.1);
    background-color: rgba(255, 145, 0, 0.25);
}

.admonition.warning.open .admonition-title {
    background-color: rgba(255, 145, 0, 0.1);
}

.admonition.failure {
    background-color: rgba(255, 82, 82, 0.1);
}

.admonition.failure .admonition-title {
    border-bottom-color: rgba(255, 82, 82, 0.1);
    background-color: rgba(255, 82, 82, 0.25);
}

.admonition.failure.open .admonition-title {
    background-color: rgba(255, 82, 82, 0.1);
}

.admonition.danger {
    background-color: rgba(255, 23, 68, 0.1);
}

.admonition.danger .admonition-title {
    border-bottom-color: rgba(255, 23, 68, 0.1);
    background-color: rgba(255, 23, 68, 0.25);
}

.admonition.danger.open .admonition-title {
    background-color: rgba(255, 23, 68, 0.1);
}

.admonition.bug {
    background-color: rgba(245, 0, 87, 0.1);
}

.admonition.bug .admonition-title {
    border-bottom-color: rgba(245, 0, 87, 0.1);
    background-color: rgba(245, 0, 87, 0.25);
}

.admonition.bug.open .admonition-title {
    background-color: rgba(245, 0, 87, 0.1);
}

.admonition.example {
    background-color: rgba(101, 31, 255, 0.1);
}

.admonition.example .admonition-title {
    border-bottom-color: rgba(101, 31, 255, 0.1);
    background-color: rgba(101, 31, 255, 0.25);
}

.admonition.example.open .admonition-title {
    background-color: rgba(101, 31, 255, 0.1);
}

.admonition.quote {
    background-color: rgba(60, 60, 60, .1);
}

.admonition.quote .admonition-title {
    border-bottom-color: rgba(60, 60, 60, 0.1);
    background-color: rgba(60, 60, 60, 0.25);
}

.admonition.quote.open .admonition-title {
    background-color: rgba(60, 60, 60, 0.1);
}

.admonition:last-child {
    margin-bottom: 1.2rem;
}