/***********************************/
/********** PaperMod-PE ************/
/***********************************/

:root {
    --nav-width: 138rem;
    --article-width: 65rem;
    --toc-width: 30rem;

    --pe-primary-hover-color: #e26c56;
    /* 按钮字体颜色 */
    --pe-btn-font-color: #fff;
    /* 文章标识 - 置顶 */
    --pe-post-top-color: rgb(205, 32, 31);
    /* 文章标识 - 转载 */
    --pe-post-reposted-color: rgb(45, 183, 245);
    /* 文章标识 - 草稿 */
    --pe-post-draft-color: #e26c56;

    /* 代码块标题色 */
    --pe-code-block-header-color: var(--content);
    /* 代码块标题背景色 */
    --pe-code-block-header-bg-color: #ededed;
    /* 代码块文本颜色 */
    --pe-code-block-color: #979797;
    /* 代码块背景色 */
    --pe-code-block-bg-color: #f5f5f5;
    /* 代码块复制按钮字体颜色 */
    --pe-copy-code-color: #fff;
    /* 代码块复制按钮背景色 */
    --pe-copy-code-bg-color: #979797;

    --pe-scrollbar-bg-color: rgb(163, 163, 165);
    --pe-scrollbar-hover-bg-color: rgb(113, 113, 117);
}

.dark {
    /* 主题颜色参数 */
    --primary: rgba(180, 181, 182, 0.8);
    --content: rgba(196, 196, 197, 0.8);

    /*****************************************/
    /******* 自定义颜色参数 (以 tw 为前缀) *******/
    /*****************************************/
    --pe-underline-hover-color: #e26c56;
    --pe-post-top-color: rgba(205, 32, 31, 0.8);
    --pe-post-reposted-color: rgba(45, 183, 245, 0.8);

    /* 代码块标题色 */
    --pe-code-block-header-color: var(--content);
    /* 代码块标题背景色 */
    --pe-code-block-header-bg-color: #20252B;
    /* 代码块文本颜色 */
    --pe-code-block-color: rgba(255, 255, 255, 0.7);
    /* 代码块背景色 */
    --pe-code-block-bg-color: #272C34;

    --pe-copy-code-color: rgba(255, 255, 255, 0.7);
    --pe-copy-code-bg-color: #414244;

    --pe-scrollbar-bg-color: rgb(113, 113, 117);
    --pe-scrollbar-hover-bg-color: rgb(163, 163, 165);
}

/* 鼠标选中文本颜色 */
::-moz-selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

::selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

::-webkit-selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

/* 文本高亮 */
.pe-text-highlight {
    background-color: yellow;
}

.dark .pe-text-highlight {
    color: rgb(51, 51, 51);
}

/* 折叠 */

.pe-details .pe-details-summary:hover {
    cursor: pointer;
}

.pe-details .pe-details-content {
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
    -moz-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
    -o-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
    transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
}

.pe-details.open .pe-details-content {
    max-height: 1200rem;
    -webkit-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
    -moz-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
    -o-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
    transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
}

.pe-details .pe-details-icon {
    color: var(--content);
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}

[class=dark] .pe-details .pe-details-icon {
    color: var(--content);
}

.pe-details.open .pe-details-icon {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* 文章标识 */

.pe-entry-top {
    font-size: 1.4rem;
    color: var(--pe-post-top-color);
}

.pe-entry-reposted {
    font-size: 1.4rem;
    color: var(--pe-post-reposted-color);
}

.pe-entry-draft {
    font-size: 1.4rem;
    color: var(--pe-post-draft-color);
}

/* 文章 meta */

.pe-post-meta-item {
    display: inline-block;
}

.pe-post-meta-item a {
    color: #6C6C6C;
}

.pe-post-meta-item svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.15em;
    margin-right: .4rem;
}

/* 超链接 */
a:hover {
    transition: 0.15s;
    color: var(--pe-primary-hover-color);
}

.pe-float-btn {
    position: fixed;
    right: 2rem;
    z-index: 999;
    background: var(--tertiary);
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 50%;
    color: var(--pe-btn-font-color);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pe-float-btn:hover {
    background-color: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
    outline: 0;
}

#top-link {
    bottom: 2rem;
    transition: visibility 0.5s, opacity 0.8s linear;
}

#top-link,
#top-link svg {
    filter: drop-shadow(0px 0px 0px var(--theme));
}

.pe-top-svg {
    width: 2rem;
}

#pe-read-progress {
    width: max-content;
}

#theme-toggle-float {
    bottom: 8rem;
}

#comments-link {
    bottom: 14rem;
}


@keyframes pe-bottom-jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.0rem);
    }
    100% {
        transform: translateY(0);
    }
}

.pe-bottom-jump {
    animation: tw-bottom-jump 0.5s ease;
}

@keyframes pe-top-jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

.pe-top-jump {
    animation: tw-top-jump 0.5s ease;
}