{{- $params := site.Params }}
{{- if site.Params.enableSearch }}
  {{- $placeholder :=  T "search_field_placeholder" }}
  {{- $section := $.Page.Section }}
  {{- $simple := true }}
  {{- if and (eq $section "support") (eq .CurrentSection .FirstSection) }}
  {{- else }}
    {{- $placeholder =  T "blog_search_field_placeholder" }}
    {{- $simple = false }}
  {{ end }}
  <div class="search">
    <input type="search" class="search_field form_field" placeholder='{{ $placeholder }}' id="find" autocomplete="off" data-scope='{{ .Section }}'>
    <label for="find" class="search_label">
      {{- partial "sprite" (dict "icon" "search") }}
    </label>
    {{ if $simple }}
    {{ end }}
    {{- if ne .Params.searchPage true }}
    <div class="search_results results"></div>
    {{- end }}
  </div>
{{- end }}
