.archive-year:not(:last-of-type) {
    border-bottom-style: 2px solid var(--border);
}

.archive-month {
    display: flex;
    align-items: flex-start;
}

.archive-month:not(:last-of-type) {
    border-bottom-style: 1px solid var(--border);
}

.archive-entry {
    position: relative;
}

.archive-entry-title {
    font-weight: 400;
}

.archive-count,
.archive-meta {
    color: var(--secondary);
}
