.footer,
.top-link {
    font-size: 12px;
    color: var(--secondary);
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.footer a {
    color: inherit;
    text-underline-offset: 0.25rem;
    text-decoration: underline;
}

.top-link {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    z-index: 99;
    background: var(--tertiary);
    width: 2.5rem;
    height: 2.5rem;
    padding: 10px;
    border-radius: 64px;
    transition: visibility .3s, opacity .3s cubic-bezier(0.4, 0, 1, 1);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.top-link,
.top-link svg {
    filter: drop-shadow(0px 0px 0px var(--theme));
}

.footer a:hover,
.top-link:hover {
    color: var(--primary);
}
