.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a:hover {
    transition: 0.15s;
    color: grey;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

svg:hover {
    transition: 0.15s;
}

.social-icons a:nth-child(1) svg:hover {
    color: #C84370 !important;
}

.social-icons a:nth-child(2) svg:hover {
    color: grey !important;
}

.social-icons a:nth-child(3) svg:hover {
    color: #0A66C2 !important;
}

.social-icons a:nth-child(4) svg:hover {
    color: #2DC100 !important;
}

.social-icons a:nth-child(5) svg:hover {
    color: #EA8011 !important;
}

.social-icons a:nth-child(6) svg:hover {
    color: #FB7299 !important;
    /* color: #1e88e5 !important; */
}

.social-icons a:nth-child(7) svg:hover {
    color: #FD4C06 !important;
}

.social-icons a:nth-child(8) svg:hover {
    color: #FD003A !important;
}
button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

#moon:hover {
    transition: 0.15s;
    color: deepskyblue;
}

body:not(.dark) #sun {
    display: none;
}

#sun:hover {
    transition: 0.15s;
    color: gold;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu a:hover {
    transition: 0.15s;
    color: grey;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
