.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
