.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 1.6rem;
    position: relative;
    line-height: 3rem;
}

#menu .active {
    font-weight: 500;
    color: var(--pe-primary-hover-color);
}

#menu .active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.1rem;
    width: 100%;
    height: .1rem;
    background-color: var(--pe-primary-hover-color);
    border-radius: .4rem;
}

#menu a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.1rem; /* 调整下划线位置，根据需要调整值 */
    width: 100%; /* 下划线宽度为标签元素的100% */
    height: .1rem; /* 下划线的高度 */
    background-color: #e26c56; /* 下划线颜色 */
    border-radius: var(--radius);
    transform: scaleX(0); /* 初始状态下下划线宽度为0 */
    transition: transform 0.3s ease; /* 添加过渡效果，让下划线出现平滑 */
}

#menu a:hover::after {
    transform: scaleX(1); /* 鼠标悬浮时，下划线宽度变为标签元素的100% */
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
