.main {
    position: relative;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    background: var(--primary);
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
