.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
    color: var(--monet)
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

hr {
    border: none;
    border-top: 2px solid #444;
    margin: 2rem auto;
    width: 80%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    margin-top: 1rem;
    flex-wrap: nowrap;
    width: 50%; 
    text-align: center;
}


.button {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}


.button:hover {
    transform: translateY(-1px);
}

.button svg {
    vertical-align: middle;
}

.first-entry.home-info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}