.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.post-entry {
    position: relative;
    background: var(--entry);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.tag-entry .entry-cover {
    display: none;
}

.entry-content {
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.entry-footer {
    color: var(--secondary);
}

.entry-link {
    position: absolute;
}

.entry-cover,
.entry-isdraft {
    color: var(--secondary);
}

.entry-isdraft {
    display: inline;
}

.entry-cover {
    text-align: center;
}

.entry-cover img {
    pointer-events: none;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
}
