.post-meta,
.breadcrumbs {
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
}

.post-meta .i18n_list li {
    display: inline-flex;
    list-style: none;
    box-shadow: 0 1px 0 var(--secondary);
}

.post-content {
    color: var(--content);
}

.post-content a,
.toc a:hover {
    box-shadow: 0 1px 0;
}

.post-content a code {
    box-shadow: 0 -1px 0 var(--primary) inset;
}

.post-content del {
    text-decoration: none;
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50%/1px 1px repeat-x;
}

.post-content dl {
    display: flex;
    flex-wrap: wrap;
}

.post-content dt {
    font-weight: 700;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    border-bottom: 1px solid var(--border);
}

.post-content table th {
    text-align: start;
}

.post-content .highlight:not(table),
.post-content pre {
    background: var(--hljs-bg) !important;
}

.post-content .highlighttable {
    table-layout: fixed;
}

.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
    display: none;
}

.post-content .highlight span {
    background: 0 0 !important;
}

.post-content code {
    background: var(--code-bg);
}

.post-content pre code {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    background: 0 0;
    overflow-x: auto;
    word-break: break-all;
}

.post-content blockquote {
    border-inline-start: 3px solid var(--primary);
}

.post-content hr {
    background: var(--tertiary);
}

.post-content figure.align-center {
    text-align: center;
}

.post-content figure > figcaption {
    color: var(--primary);
    font-weight: bold;
}

.post-content figure > figcaption > p {
    color: var(--secondary);
    font-weight: normal;
}

.toc {
    border: 1px solid var(--border);
    background: var(--code-bg);
}

.dark .toc {
    background: var(--entry);
}

.toc details summary {
    cursor: zoom-in;
}

.toc details[open] summary {
    cursor: zoom-out;
}

.toc .details {
    display: inline;
    font-weight: 500;
}

.toc li ul {
    margin-inline-start: var(--gap);
}

.toc summary:focus {
    outline: 0;
}

.post-tags li {
    display: inline-block;
}

.post-tags a,
.share-buttons,
.paginav {
    background: var(--code-bg);
    border: 1px solid var(--border);
}

.post-tags a {
    display: block;
    color: var(--secondary);
    background: var(--code-bg);
}

.post-tags a:hover,
.paginav a:hover {
    background: var(--border);
}

.share-buttons {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.share-buttons a svg {
    fill: currentColor;
    transition: transform 0.1s;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    display: inline-flex;
    color: var(--secondary);
    font-weight: 500;
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
    border: 2px solid var(--hljs-bg);
    background: rgba(255, 255, 255, 0.32);
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.56);
}

.gist table::-webkit-scrollbar-thumb {
    border: 2px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.32);
}

.gist table::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.56);
}


.post-content table::-webkit-scrollbar-thumb {
    border-width: 2px;
}

.paginav {
    display: flex;
    border-radius: var(--radius);
}

.paginav a {
    border-radius: var(--radius);
}

.paginav .title {
    text-transform: uppercase;
    color: var(--secondary);
}

.paginav span:hover:not(.title) {
    box-shadow: 0 1px 0;
}

.paginav .next {
    text-align: right;
}

[dir="rtl"] .paginav .next {
    text-align: left;
}
