.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    max-height: max-content;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.post-entry:active {
    transform: scale(0.96);
}

.tag-entry .entry-cover:not(.show-tag-cover) {
    display: none;
}

.entry-header {
    display: block;
}

.entry-header h2 {
    font-size: 24px;
    line-height: 1.3;
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.entry-cover {
    margin-bottom: var(--gap);
    margin-top: var(--gap);
    text-align: center;
}

.entry-cover img {
    border-radius: var(--radius);
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    pointer-events: none;
    width: auto;
}

.entry-cover svg {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    pointer-events: none;
    width: auto;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
    text-align: center;
}

.entry-item {
    margin-top: .6rem;
}

.entry-main {
    display: block;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .entry-main {
        height: max-content;
    }

    .entry-main .entry-cover.entry-cover-thumbnail {
        display: inline-block;
        height: 100%;
        margin-bottom: auto;
        margin-right: .6em;
        margin-top: auto;
        width: 10%;
        vertical-align: middle;
    }

    .entry-main .entry-cover.entry-cover-thumbnail ~ .entry-item {
        display: inline-block;
        height: max-content;
        margin-top: unset;
        margin-bottom: unset;
        max-width: 89%;
        vertical-align: middle;
    }

    .entry-main .entry-cover.entry-cover-thumbnail ~ .entry-item .entry-header {
        margin-top: 0;
        padding-top: 0;
    }

    .entry-main .entry-cover.entry-cover-thumbnail ~ .entry-item .entry-header h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .entry-main .entry-cover.entry-cover-thumbnail img {
        display: block;
        height: auto;
        margin: auto;
        max-height: 3.8rem;
        max-width: 100%;
        width: auto;
    }

    .entry-main .entry-cover.entry-cover-thumbnail svg {
        display: block;
        height: auto;
        margin: auto;
        max-height: 4rem;
        max-width: 100%;
        width: auto;
    }

    .entry-item .entry-footer {
        margin-top: 0;
    }

    .entry-footer {
        font-style: italic;
    }

    .entry-content {
        margin: 0;
    }
}
