.first-entry {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0;
}

.first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.post-entry:active {
    transform: scale(0.96);
}

.tag-entry .entry-cover {
    display: none;
}

.entry-header h2 {
    font-size: 24px;
    line-height: 1.3;
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.entry-cover {
    margin-bottom: var(--gap);
    margin-top: 1rem;
    height: auto;
    max-height: 100%;
    text-align: center;
}

.entry-cover img {
    border-radius: var(--radius);
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh;
    max-width: 100%;
    pointer-events: none;
    width: auto;
}

.entry-cover svg {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh;
    max-width: 100%;
    pointer-events: none;
    width: auto;
}

.entry-cover a {
    color: var(--secondary);
    box-shadow: 0 1px 0 var(--primary);
    text-align: center;
}

.entry-cover ~ .entry-item {
    display: block;
    width: 100%;
}

.entry-cover~.entry-item-wrapper {
    display: block;
    width: 100%;
}

.entry-cover ~ .entry-footer {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

.entry-cover.entry-cover-thumbnail {
    display: block;
    flex: 1 1 100%;
    height: auto;
    max-height: inherit;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .entry-cover.entry-cover-thumbnail {
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 6rem;
        justify-self: center;
        margin: 0;
        margin-right: .6em;
        margin-top: 1.3em;
        max-height: 100%;
        vertical-align: initial;
        width: 15%;
   }

    .entry-cover.entry-cover-thumbnail ~ .entry-item {
        display: inline-block;
        vertical-align: top;
        width: 80%;
    }

    .entry-main {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-items: flex-start;
        margin: 0;
        margin-top: 1rem;
        min-height: 6rem;
    }

    .entry-cover.entry-cover-thumbnail img {
        display: block;
        height: auto;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }

    .entry-cover.entry-cover-thumbnail svg {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
    }

    .entry-cover.entry-cover-thumbnail ~ .entry-item-wrapper {
        align-self: stretch;
        display: flex;
        flex: 8 0 16rem;
        flex-flow: column nowrap;
        justify-content: space-between;
        justify-items: start;
        margin-left: .8rem;
        margin-top: 0;
    }

    .entry-item-wrapper .entry-footer {
        justify-self: end;
        margin-top: 0;
    }

    .entry-footer {
        font-style: italic;
    }

    .entry-content {
        margin: 0;
    }
}
