.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}

.main .profile {
    align-items: center;
    text-align: center;
}

.profile img {
    display: inline-table;
    pointer-events: none;
}

.buttons {
    flex-wrap: wrap;
}

.button {
    background: var(--tertiary);
    transition: transform 0.1s;
}
