#searchbox input {
    padding: 8px 12px;
    width: 100%;
    color: var(--monet);
    font-weight: bold;
    border: 2px solid var(--code-bg);
    border-radius: var(--radius);
}

#searchbox input:focus {
    border-color: var(--monet);
}

#searchResults li {
    list-style: none;
    border-radius: var(--radius);
    border: 2px solid var(--code-bg);
    background-color: var(--theme);
    padding: 8px;
    margin: 20px 0px;
    position: relative;
    font-weight: bold;
}

#searchResults {
    margin: 15px 0;
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.2s;
    transform: scale(0.95);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus {
    transform: scale(1.1);
    border: 2px solid var(--monet);
}
