#searchbox input {
    color: var(--primary);
    font-weight: bold;
    border: 2px solid var(--tertiary);
}

#searchbox input:focus {
    border-color: var(--secondary);
}

#searchResults li {
    list-style: none;
    position: relative;
    font-weight: 500;
}

#searchResults li:active {
    transition: transform 0.1s;
}

#searchResults a {
    position: absolute;
}

#searchResults .focus {
    border: 2px solid var(--tertiary);
}
