.terms-tags li {
    display: inline-block;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    background: var(--tertiary);
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
}
