.terms-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: var(--content-gap);
}

.terms-tags li {
    display: inline-block;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 4px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    background: var(--tertiary);
    transform: scale(0.96);
}
